@charset "utf-8";
/* CSS Document */

body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	margin:0;
	padding:0;
}

#container {
	padding-top: 10%;
	margin: 0 auto; 
	width: 100%;
	text-align:center;
}

#userLocation {
	font-size:24px;
}

#answer-yes, #answer-no {
	font-size:300px;
}

@media
screen and (max-width: 400px),
only screen and (max-device-width: 400px) {
    #answer-yes, #answer-no {
        font-size:200px;
    }
}

#answer-yes {
	color:#FF0000;
}
	
#answer-no {
	color:#00FF00;
}

#showDetails {
	margin-top: 10px;
	font-size:10px;
}

#conditionDescription {
	font-size:14px;
	font-style:italic;
}

#shareThis {
	text-align:center; 
	padding-top: 100px;
	vertical-align:bottom;
}

#twitterButton, #fbButton, #gpButton {
	display:inline-block;
	vertical-align:bottom;
	height:65px;
	padding: 0 20px;
}

#ads {
	text-align:center; 
	padding-top: 20px;
}

#footer {
	font-size:12px;
}

#location-form, #userLocation, #showDetails, #conditionDescription, #userLatLon, #shareThis, #ads, #footer {
	display: none;
}